# Binaries
miao-server
miao_server
/server

# Database
*.db

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temp
tmp/
temp/
_workspace/
ssh
